/* tr {
    color: blue;
}

td {
    font-size: large;
    color: rgb(214, 61, 6);
} */

table {
    border: 1px solid black;
    padding: 25px;
    text-align: center;
    width: 620px;
    
}

.header {
    color: rgb(32, 112, 12);
    width: 600px;
    text-align: center;
}

#curBYN {
    font-family: "Times New Roman", Times, Serif;
    color: rgb(53, 52, 5);
    text-align: center;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px red;
    font-size: 25px;
}

input[type="date"] {
    background-color: rgb(236, 214, 9);
    outline: none;
    
}

#BYNq {
    font-style: italic;
}

* {
    background-color: rgb(250, 214, 166);
}
input {
    margin-left: 10px; /* Расстояние между полем и текстом */
    padding: 5px;
    line-height: 25px;
    font-size: 20px;
}

#enter input:focus {
    background: rgb(155, 240, 157); /* Цвет фона */
    border: 1px solid #ff0101; /* Параметры рамки */
    color: rgb(192, 10, 10);
  
}
#iframe_block{
    border: none;
    margin: 3;
    padding: 1;
    opacity: 0.8;
    display: inline-block;
    width: auto;
    height: 1900px;
   
}
#googlesheet {
    width: 400px;
    height: 400px;
}
#standardCalc {
    width: 320px;
    height: 400px;

}
#radio {
    width: 500px;
    height: 400px;
}