#standardCalc {
    display: inline-block;
    height: 400px;
    opacity: 0.8;
   }

#BYNq {
    font-style: italic;
}

#iDate {
    display: inline-block;
    margin-bottom: 10px;
    padding: 4px 8px;
    background: rgba(245, 248, 35, 0.725); /* Цвет фона */
    border: 2px solid #b3b61d; /* Параметры рамки */
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#btnGet, #btnClr {
  display: inline-block;
  width: 140px;
  height: 45px;
  font-family: 'Georgia', serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #680303;
  background-color: rgba(247, 138, 35, 0.569);
  border: 2px solid #b4aa72;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 8px 15px #00000033;
  padding: 8px 10px;
  margin-bottom: 10px;
}

.wrap {
    display:inline-block;
    align-items: left;
    justify-content: left;
    margin: 15px;
}

.button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-5px);
}

.inputhead {
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: inline-block;
    grid-template-columns: 25% 20% 10%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: top;
    justify-content: top;
}

input {
    display: inline-block;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    color: initial;
    background-color: initial;
    font-weight: initial;
}

input:focus {
    margin-left: 10px; /* Расстояние между полем и текстом */
    padding: 5px;
    background-color: #faed77;
    font-weight: bold;
    color: #dc143c;
}

input:hover {
    background-color: #faed77;
    box-shadow: 0px 20px 30px rgba(46, 229, 157, 0.4);
    color: #e72323;
    transform: translateY(-2px);
    border-radius: 5px;
}

body, h1 {
    background-color: rgba(247, 235, 221, 0.89);
    position: relative;
    text-align: center;
    max-width: 500px;
}

h1 {
    color: #1a41f3;
}